
body{
    width: 100%;
}
.container{
    background: linear-gradient(#F5F5F5, #000);
}

h1{
    font-family: 'Roboto', sans-serif;
}
.p1{
    font-size:20px;
    color:#F5F5F5;
    
    
}
.container img{
    width: 20%;
}