* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  text-align: center;
}
.teste {
  display: flex;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(5, 250px);
}
div {
}
