* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 300px;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #f5f5f5;
}
header img {
  height: 45px;
}
header ul {
  display: flex;
  gap: 35px;
  list-style: none;
}
header nav a {
  text-decoration: none;
  font-weight: 500;
  color: #000;
}
header nav ul li:last-child a {
  padding: 15px;
  border: 3px solid #11a36a;
  color: #045243;
  border-radius: 4px;
}
header nav ul li:last-child a:hover {
  background-color: #11a36a;
}
.contexto {
  background-image: url("https://uploads-ssl.webflow.com/5d4c18a28620ae5d4f33af94/5d4c18a28620ae56f733b01a_hero-image.jpg");
  background-size: cover;
  height: 100vh;
  padding-top: 350px;
}
.seta-baixo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.seta-baixo img {
  width: 50px;
}

section h1 {
  font-family: Montserrat, sans-serif;
  color: #056351;
  overflow: visible;
  width: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  color: #0a7e51;
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  text-align: left;
  letter-spacing: -1px;
  text-shadow: none;
}

.contexto p {
  right: 0px;
  max-width: 81%;
  padding: 0px;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #323f3a;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
  margin-left: 250px;
  margin-bottom: 80px;
}
.contexto h1 {
  margin-left: 250px;
  font-size: 50px;
  color: #065423;
}

.contexto a {
  border: 3px solid #06a140;
  color: #f5f5f5;
  border-radius: 4px;
  text-decoration: none;
  padding: 15px;
  background-color: #06a140;
  font-size: 20px;
  margin-left: 250px;
}
.contexto a:hover {
  background-color: #055e25;
  border: 3px solid #055e25;
}

.pessoas {
  background-color: #f5f5f5;
}
.pessoas h1 {
  padding-top: 80px;
  font-size: 30px;
  background-color: #f5f5f5;
  text-align: center;
}
.pessoas p {
  top: 20px;
  color: #333;
  text-align: center;
  font-size: 18px;
  font-family: Montserrat, sans-serif;
}
.imagens img {
  display: flex;
  text-align: center;
  width: 100px;
  border-radius: 50%;
}
.imagens {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.imagens p {
  width: 100%;
  display: -webkit-flex;

  color: #878683;
  top: 60px;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.depoimentos {
  background-color: #f5f4f0;
}
.depoimentos h1 {
  font-size: 30px;
  padding-top: 70px;
  text-align: center;
  color: #11a36a;
}
.information p {
  display: flex;
  font-family: "Quicksand", sans-serif;
  color: #242320;
  padding-left: 20px;
}

.information-p2 {
  display: flex;
  font-family: "Quicksand", sans-serif;
  flex-direction: column;
  color: #242320;
  padding-left: 20px;
}

.teste {
  color: #11a36a !important;
  margin-left: 40px;
  text-decoration: none;
}

.comentario-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 70px;
}

.comentario-container img {
  display: block;

  flex-direction: column;
  width: 100px;
  border-radius: 100%;
  background-color: #000;
}

.imagens-2 {
  display: flex;
  align-items: center;
  box-shadow: 3px 3px 8px 0 #20382f;
  margin: 5px;
  width: 25%;
  border-radius: 7px;
  padding: 5px;
}
.imagens-2 img {
  height: 100px;
  width: 100px;
}

#colunas {
  display: flex;
}
.col {
  width: 50%;
}
.linha h2 {
  color: #16563d;
}
.col img {
  width: 600px;
}
#formacao {
  padding: 40px;
  margin-top: 60px;
}
.linha {
  text-align: center;
  margin-top: 50px;
}
.linha a {
  font-family: "Roboto Condensed", sans-serif;

  border-radius: 4px;
  background-color: #0d8b5a;
  text-decoration: none;
  color: #fff;
  padding: 11px;
}
.linha a:hover {
  background-color: #10af72;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

#teste-2 {
  display: flex;
  background-color: #0d8b5a;
}
.coluna {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding: 50px;
}
.coluna img {
  width: 120px;
  border-radius: 50%;
  margin: 15px;
}
.coluna h1 {
  color: #f5f5f5;
}
.col ul li {
  margin-bottom: 30px;
  color: #333;
  text-align: center;
  list-style: none;
}
.col h1 {
  text-align: center;
}
.container-img {
  background-color: #005f4f;
}

.titulo-ceo h1 {
  text-align: center;
  padding-top: 100px;
}
.card {
  display: flex;
  border: 1px solid #000;
  padding: 10px;
  background-color: #f5f5f5;
  margin: 80px;
  align-items: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.image-ceo img {
  display: flex;
  width: 120px;
  border-radius: 50%;
}
.titulo-ceo {
  color: #11a36a;
  text-align: center;
}
.texto {
  width: 90%;
  text-align: center;
  padding: 5px 10px;
  font-family: Montserrat, sans-serif;
  color: #333;
}

.todos-cards {
  padding-bottom: 30px;
  margin: auto;
  width: 60%;
}
.testemunha-texto {
  width: 30%;

  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.experiencia {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  background-color: #f5f5f5;
  gap: 80px;
  height: 100vh;
}
.vamos-aprender-all {
  display: flex;

  gap: 50px;
}
.vamos-aprender img {
  width: 350px;
}
.experiencia h1 {
  color: #11a36a;
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
}
.vamos-aprender {
  width: 350px;
  display: flex;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: #fff;
}

.tecnologia {
  text-align: center;
}
.vamos-aprender p {
  color: #475550;
  font-size: 20px;

  width: 80%;
}
.title {
  text-align: center;
}
.trabalho-trybe {
  display: flex;
  background-color: #fff;
  width: 100%;
}
.container-trabalho h1 {
  width: 100%;
  margin-top: 80px;
  font-family: Montserrat, sans-serif;
  color: #11a36a;
  font-size: 26px;
  line-height: 41px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 70px;
}
.exemplo-trabalho {
  display: flex;
}
.Conclusao {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.exemplo-trabalho img {
  width: 100px;
}
.Conclusao p {
  font-family: Montserrat, sans-serif;
  color: #475550;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  text-align: center;
}

.container-trabalho h3 {
  font-family: Montserrat, sans-serif;
  color: #475550;
  font-size: 18px;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 80px;
}
.cenarios-trybe {
  display: flex;
  flex-direction: column;
  background-color: #11a36a;
}
.cenarios-trybe h1 {
  margin-top: 150px;
  color: #fff;
  font-size: 1.7em;
  text-align: center;
}
.cenarios h4 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}
.cenarios p {
  font-size: 17px;
  color: #fff;
}
.cenarios-all {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-top: 30px;
  margin-bottom: 100px;
}
.Be-Tryber {
  display: flex;
  justify-content: center;
}
.tryber {
  margin: 200px;
  line-height: 20px;
  width: 30%;
}
.Be-Tryber h3 {
  display: inline-block;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #11a36a;
  font-weight: 700;
  margin-bottom: 20px;
}
.tryber p {
  margin-top: 0px;
  margin-bottom: 25px;
  font-family: Montserrat, sans-serif;
  color: #475550;
  font-size: 22px;
  line-height: 1.25em;
  font-weight: 400;
}
.Be-Tryber .inscreva-se-agora-last {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.inscreva-se-agora-last a {
  border: 1px solid #108c5c;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 4px;
  background-color: #108c5c;
  color: #fff;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202024;
  gap: 40px;
  background-image: url("https://uploads-ssl.webflow.com/5d4c18a…/5d5469e…_tribal-trybe.png");
}
.footer img {
  width: 130px;
}
.footer p {
  font-family: Montserrat, sans-serif;
  margin-bottom: 20px;
  color: #fff;
}
.comunidades p {
  margin-bottom: 10px;
}
.comunidades img {
  margin: 8px;
  width: 10px;
}
.localizacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}
.localizacao p {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
}
.direitos p {
  color: #666;
}
.direitos img {
  margin-bottom: 10px;
}
.inscreva-se-agora-last a:hover {
  background-color: #0b5035;
}
span {
  width: 30px;
  display: inline-block;
  margin-left: 10px;
  border: 1px solid #108c5c;
}
